header {
    text-align: center;
    background-color: rgb(87, 125, 195);
    color: black;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

img {
   width: 50px;
}

ul {
    background-color: #dddddd;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }

li {
    float: left; 
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

h1 {
   margin: 0;
   padding-top: 12px;
   font-size: xx-large;
}

body {
    text-align: center; 
    margin: 0 auto;
    width: 100%;
}

input[type=text], input[type=number] {
    padding: 5px 10px;
    margin: 4px 0;
    border: 2px solid rgb(54, 50, 50);
    border-radius: 4px;
}

th, td {
    border: 1px solid black;
    text-align: center;
    height: 70px;
}


th {
    background-color: #333;
    color: #dddddd;
    font-family: cursive;
}

td, td a, label {
    color: #ee8080d3;
    font-weight: bold;
}

td, td a {
    background-color: rgb(82, 87, 97);
}

td a:hover {
    color: black;
}

table {
    text-align: center;
    width: 100%;
}

#contentForm {
    text-align: left;
    margin-left: 35%;
}

#studentForm {
    display: inline-grid;
    margin-bottom: 15px;
}

#enum {
    display: inline-flex;
}

#section {
    margin-left: 7px;
}

.errorField {
    color: red;
}

.errorMsg {
    color: red;
    margin: 3px;
}

#detailH1, #studentCoursesH1 {
    color: #ee8080d3;
    font-weight: bold;
}

#studentTitle {
    font-size: 55px;
}

#studExistAlready {
    color: red;
    margin: 5px;
    font-size: xx-large;
}

#studentRegistration, #studentCourseRegistration {
    display: inline-flex;
    padding-top: 15px;
    align-items: baseline;
    grid-column-gap: 10px;
}

#registerStudentSpan, #studentCourseRegisterSpan {
    font-size: 20px;
}