<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title th:text=#{courses}></title>
</head>

<body>
    <main layout:fragment="content">
        <form id="formCourse" th:action="@{/courses}" th:object="${course}" method="post">
            <div id="contentForm">
                
            <div>
                <label for="sigle" th:text=#{acronym}></label>
                <input type="text" name="sigle" th:field="*{id}" th:placeholder="#{acronym.placeholder}"
                    th:errorclass="errorField">
                <span th:errors="*{id}" class="errorMsg">erreur</span>
            </div>

            <div>
                <label for="lib" th:text=#{wording}></label>
                <input type="text" name="lib" th:field="*{libelle}" th:placeholder="#{wording.placeholder}"
                    th:errorclass="errorField">
                <span th:errors="*{libelle}" class="errorMsg">erreur</span>
            </div>
            
            <div>
                <label for="ects" th:text=#{ects}></label>
                <input type="number" name="ects" th:field="*{ects}" th:placeholder="#{ects.placeholder}"
                    th:errorclass="errorField">
                <span th:errors="*{ects}" class="errorMsg">erreur</span>
            </div>
            <button th:text="#{add}" type="submit"></button>
        </div>
        </form>

        <table th:unless="${#lists.isEmpty(courses)}">
            <tr>
                <th th:text=#{acronym}></th>
                <th th:text=#{title}></th>
                <th th:text=#{ects}></th>
            </tr>
            <tr th:each="course : ${courses}">
                <td><a th:text="${course.id}" th:href="@{/courses/detail/(coursId=${course.id})}">cours</a></td>
                <td><a th:text="${course.libelle}" th:href="@{/courses/detail/(coursId=${course.id})}">libelle</a></td>
                <td th:text="${course.ects}">ects</td>
            </tr>
        </table>
        <p th:if="${#lists.isEmpty(courses)}"> Il n'y a aucun cours actuellement</p>
    </main>
</body>

</html>