<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Cours</title>
</head>

<body>
    <main layout:fragment="content">
        <form id="formCourse" th:action="@{/courses}" th:object="${course}" method="post">
            <div id="contentForm">
                
            <div>
                <label for="sigle">Sigle</label>
                <input type="text" name="sigle" th:field="*{id}" placeholder="Entrez le sigle du cours ..."
                    th:errorclass="errorField">
                <span th:errors="*{id}" class="errorMsg">erreur</span>
            </div>

            <div>
                <label for="lib">Libelle</label>
                <input type="text" name="lib" th:field="*{libelle}" placeholder="Entrez le titre du cours ..."
                    th:errorclass="errorField">
                <span th:errors="*{libelle}" class="errorMsg">erreur</span>
            </div>
            
            <div>
                <label for="ects">ECTS</label>
                <input type="text" name="ects" th:field="*{ects}" placeholder="Nombre d'ects du cours ..."
                    th:errorclass="errorField">
                <span th:errors="*{ects}" class="errorMsg">erreur</span>
            </div>
            <button type="submit">Ajouter</button>
        </div>
        </form>

        <table th:unless="${#lists.isEmpty(courses)}">
            <tr>
                <th>Sigle</th>
                <th>Titre</th>
                <th>ECTS</th>
            </tr>
            <tr th:each="course : ${courses}">
                <td><a th:text="${course.id}" th:href="@{/courses/detail/(coursId=${course.id})}">cours</a></td>
                <td><a th:text="${course.libelle}" th:href="@{/courses/detail/(coursId=${course.id})}">libelle</a></td>
                <td th:text="${course.ects}">ects</td>
            </tr>
        </table>
        <p th:if="${#lists.isEmpty(courses)}"> Il n'y a aucun cours actuellement</p>
    </main>
</body>
<footer></footer>

</html>