<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Application</title>
</head>

<body>
    <header>
        <h1 th:text="#{pae.header.title}"> <img th:src="@{/image/EsiLogo.jpg}" alt="HE2B"></h1>
        <h3 th:text="#{pae.header.subtitle}"></h3>

        <p th:text="#{pae.header.welcome}"></p>

        <div id="language">
            <select id="lang" onchange="location.href=this.value">
                <option th:text="#{lang.change}" readonly></option>
                <option value="?lang=en" th:text="#{lang.eng}"></option>
                <option value="?lang=fr" th:text="#{lang.fr}"></option>
            </select>
        </div>

        <ul>
            <li><a href="/" th:text="#{home}"></a></li>
            <li><a href="/courses" th:text=#{courses}></a></li>
            <li><a href="/students" th:text=#{students}></a></li>
        </ul>

    </header>
    <main layout:fragment="content"></main>
</body>


</html>